html, body {
    margin: 0px;
    height: 100%;
}

.make-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background: linear-gradient(to bottom, rgb(221, 152, 152), rgb(187, 38, 63));
    color : ghostwhite;
    font-size: 5rem;
    animation: first 2s linear 2;
}

img {
    border-radius: 5px;
    height: 500px;
}

@keyframes first {
    from {
        transform: scale(1,1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}